<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!-- Путь к log директории -->
  <variable name="logDir" value="${basedir}/log/${date:format=yyyy-MM-dd}"/>

  <!-- Настройка Layout -->
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}):${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>


  <targets>

    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/short.log"
      layout="${commonLayout}" 
      archiveFileName="${logDir}/archives/short.log.{#####}"
      archiveAboveSize="10240"
      archiveNumbering="Sequence"
      encoding="utf-8"
      fileAttributes="Hidden"
      />

    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${detailedLayout}" 
      archiveFileName="${logDir}/archives/short.log.{#####}"
      archiveAboveSize="10240"
      archiveNumbering="Sequence"
      encoding="utf-8"
      fileAttributes="Hidden"
      />

  </targets>

  <rules>
    <!-- Основные log -->
    <logger name="*" minlevel="Info" writeTo="fullLog" />
    <logger name="*" minlevel="Error" writeTo="shortLog" />
  </rules>

</nlog>
